@import "compass/reset"
@import "compass/css3"
@import "compass/utilities"

@font-face
    font:
        family: 'Ubuntu Mono'
        style: normal
        weight: normal
    src: local('Ubuntu Mono'), url('fonts/UbuntuMono.woff') format('woff')
    font:
        family: 'Hammersmith One'
        style: normal
        weight: normal
    src: local('Hammersmith One'), url('fonts/HammersmithOne.woff') format('woff')


@function grey($v)
    @return rgb($v, $v, $v)

@mixin ditch
    +box-shadow(white 0 1px 0, rgba(0, 0, 0, 0.5) 0 1px 3px 0 inset)    
    +text-shadow(0 1px 1px white)


$blau: rgb(60, 120, 180)

body
    font-family: Helvetica, Verdana, 'LiHei Pro', '微軟正黑體', '新細明體', Arial, sans-serif
    color: grey(120)
    background: grey(240)
    
h2
    height: 40px
    line-height: 40px
    color: $blau
    font-weight: bold
    font-size: 125%
    
    
    
#container
    +clearfix
    width: 1000px
    margin: 20px auto
    
    
#record
    float: left
    width: 160px
    margin: 0 20px
    
    li
        width: 140px
        +clearfix
        height: 40px
        padding-left: 20px
        line-height: 40px
        
    
        .record-name
            float: left
            width: 100px
            font-weight: bold
    
        .record-icon
            float: left
            width: 40px
            height: 40px
            text-align: center
            
            &:hover
                color: rgb(180, 60, 0)
        i
            display: none
            
        
        &.active
            +ditch
            border-radius: 4px
            background: grey(235)
            
        &:hover
            background: grey(235)
            
            i
                display: inline
#main
    float: left
    width: 760px
    margin: 0 20px
    
    
    
